@import 'mast-theme/variables';
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');

body {
    color: $clr-black;
    font-family: $font-stack-1;
    font-size: $font-size-h3;
    line-height: 36px;
    letter-spacing: -1.25px;
    background-color: $clr-dirty-white;

}

a, a:hover {
    color: $clr-red;
    font-weight: $font-weight-bold;
}

.navbar-nav {padding-top: 50px;}

/*-------------------------------*/
/*     WP FIELDS     */
/*-------------------------------*/
.the-title {
    font-size: $font-size-display1;
    font-family: $font-stack-2;
    font-weight: $font-weight-semibold;
    text-shadow: 0px 4px $clr-text-shadow;
    line-height: 120px;
    
}

.the-content {
    //same body css
}


/*-------------------------------*/
/*     ABOUT     */
/*-------------------------------*/
.about-author-heading {
    font-size: $font-size-display4;
    font-family: $font-stack-2;
    font-weight: $font-weight-semibold;
}

.about-author-description {
    line-height: 32px;
}


/*-------------------------------*/
/*     BOOK     */
/*-------------------------------*/
.book-title {
    font-size: $font-size-display2;
    font-family: $font-stack-2;
    font-weight: $font-weight-semibold;
    line-height: 90px;
}

/*-------------------------------*/
/*     BOOK PURCHASE    */
/*-------------------------------*/
.book-purchase-link-heading {
    line-height: 32px;
}


.book-purchase-links {
    line-height: 32px;
    color: $clr-red;
    font-weight: $font-weight-bold;
}


/*-------------------------------*/
/*     REVIEWS     */
/*-------------------------------*/
.book-reviews-quote {
    color: $clr-white;
    font-style: italic;
    line-height: 36px;
    font-size: $font-size-h3;
    letter-spacing: -1.25px;

} 

.book-reviews-source-name {
    font-size: $font-size-h3;
    color: $clr-black;

}

/*-------------------------------*/
/*     BOOK SUBSCRIBE  */
/*-------------------------------*/
.book-subscription-heading {
    font-size: $font-size-display4;
    font-family: $font-stack-2;
    font-weight: $font-weight-semibold;
    color: $clr-dirty-white;
    line-height: 55px;
}

.book-subscription-subheading {
    font-weight: $font-weight-bold;
}

.book-subscription-display, book-subscription-display:hover,
.book-subscription-display:active,
.book-subscription-display:visited,
.book-subscription-display:focus {
    background-color: $clr-red;
    border-radius: 0px;
    color: $clr-white;
    font-family: $font-stack-1;
    font-weight: $font-weight-semibold;
    font-size: $font-size-h3;
    height: 64px;
    line-height: 50px;
    white-space: pre-wrap;
}

.book-title-sm {
    font-size: $font-size-display3;
    font-family: $font-stack-2;
    font-weight: $font-weight-semibold;
    line-height: 72px;
}

.book-date {
    font-size: $font-size-display4;
    font-family: $font-stack-2;
    color: $clr-yellow;
    font-weight: $font-weight-semibold;
    line-height: 58px
}

.about-author-description-text-bold {
    line-height: 32px;
    color: $clr-red;
    font-weight: $font-weight-bold;
}

.home-header-bg {
    background-image: url(img/home-bg.png);
    background-position: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1988px;
}

.c-margin-0 {
    margin-top: -30px;
}

.c-margin-1 {
    margin-top: -1700px;
}

.c-margin-2 {
    margin-top: 185px;
}

.c-padding-0 {
    padding-top: 50px;
}

.subscribe-bg {
    background-image: url(img/subscribe-bg.png);
    background-position: inherit;
    height: 458px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

/*-------------------------------*/
/*     INPUT     */
/*-------------------------------*/
.input-group-append .btn {z-index: 0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $clr-black;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $clr-black;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $clr-black;
}
:-moz-placeholder { /* Firefox 18- */
    color: $clr-black;
}

.form-control{
    height: 64px;
    border: 1px solid #979797;
    border-radius: 0rem;
    color: $clr-black;
    font-size: $font-size-h3;
}

footer {
    color: $clr-dirty-white;
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    letter-spacing: -0.89px;
    line-height: 26px;
    background-color: $clr-black;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .ml-5 {
        margin-left: 0rem!important;
    }
    .pl-5 {
        padding-left: 1rem!important;
    }
    .c-margin-2 {
        margin-top: 120px;
    }
}

@media (max-width: 991px) {
    .c-padding-0 {
        padding-top: 0px;
    }
    .c-margin-2 {
        margin-top: 50px;
    }

}

@media (max-width: 767px) {
    .txt-ctr {text-align: center!important;}
    .c-margin-2 {
        margin-top: 75px;
    }
}
@media (max-width: 576px) {
    .the-title {
        font-size: 95px;
        line-height: 85px;
    }
}






