/*---  FONTS  ---*/
/*---  FONTS SIZE  ---*/
/*---  FONTS WEIGHT  ---*/
/*---  COLORS  ---*/
/*---  TEXT-SHADOWS COLOR  ---*/
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,900");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700");
body {
  color: #4A4A4A;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.25px;
  background-color: #F6F4EF; }

a, a:hover {
  color: #DB2323;
  font-weight: 700; }

.navbar-nav {
  padding-top: 50px; }

/*-------------------------------*/
/*     WP FIELDS     */
/*-------------------------------*/
.the-title {
  font-size: 120px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 0px 4px #CABDAC;
  line-height: 120px; }

/*-------------------------------*/
/*     ABOUT     */
/*-------------------------------*/
.about-author-heading {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600; }

.about-author-description {
  line-height: 32px; }

/*-------------------------------*/
/*     BOOK     */
/*-------------------------------*/
.book-title {
  font-size: 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  line-height: 90px; }

/*-------------------------------*/
/*     BOOK PURCHASE    */
/*-------------------------------*/
.book-purchase-link-heading {
  line-height: 32px; }

.book-purchase-links {
  line-height: 32px;
  color: #DB2323;
  font-weight: 700; }

/*-------------------------------*/
/*     REVIEWS     */
/*-------------------------------*/
.book-reviews-quote {
  color: #fff;
  font-style: italic;
  line-height: 36px;
  font-size: 28px;
  letter-spacing: -1.25px; }

.book-reviews-source-name {
  font-size: 28px;
  color: #4A4A4A; }

/*-------------------------------*/
/*     BOOK SUBSCRIBE  */
/*-------------------------------*/
.book-subscription-heading {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #F6F4EF;
  line-height: 55px; }

.book-subscription-subheading {
  font-weight: 700; }

.book-subscription-display, book-subscription-display:hover,
.book-subscription-display:active,
.book-subscription-display:visited,
.book-subscription-display:focus {
  background-color: #DB2323;
  border-radius: 0px;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 28px;
  height: 64px;
  line-height: 50px;
  white-space: pre-wrap; }

.book-title-sm {
  font-size: 80px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  line-height: 72px; }

.book-date {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  color: #E0B921;
  font-weight: 600;
  line-height: 58px; }

.about-author-description-text-bold {
  line-height: 32px;
  color: #DB2323;
  font-weight: 700; }

.home-header-bg {
  background-image: url(img/home-bg.png);
  background-position: inherit;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1988px; }

.c-margin-0 {
  margin-top: -30px; }

.c-margin-1 {
  margin-top: -1700px; }

.c-margin-2 {
  margin-top: 185px; }

.c-padding-0 {
  padding-top: 50px; }

.subscribe-bg {
  background-image: url(img/subscribe-bg.png);
  background-position: inherit;
  height: 458px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto; }

/*-------------------------------*/
/*     INPUT     */
/*-------------------------------*/
.input-group-append .btn {
  z-index: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4A4A4A; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4A4A4A; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4A4A4A; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4A4A4A; }

.form-control {
  height: 64px;
  border: 1px solid #979797;
  border-radius: 0rem;
  color: #4A4A4A;
  font-size: 28px; }

footer {
  color: #F6F4EF;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.89px;
  line-height: 26px;
  background-color: #4A4A4A; }

@media (max-width: 1199px) {
  .ml-5 {
    margin-left: 0rem !important; }

  .pl-5 {
    padding-left: 1rem !important; }

  .c-margin-2 {
    margin-top: 120px; } }
@media (max-width: 991px) {
  .c-padding-0 {
    padding-top: 0px; }

  .c-margin-2 {
    margin-top: 50px; } }
@media (max-width: 767px) {
  .txt-ctr {
    text-align: center !important; }

  .c-margin-2 {
    margin-top: 75px; } }
@media (max-width: 576px) {
  .the-title {
    font-size: 95px;
    line-height: 85px; } }

/*# sourceMappingURL=main.css.map */
