@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,900");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700");
body {
  color: #4A4A4A;
  font-family: "Karla", sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.25px;
  background-color: #F6F4EF; }

a, a:hover {
  color: #DB2323;
  font-weight: 700; }

.navbar-nav {
  padding-top: 50px; }

.the-title {
  font-size: 120px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 0px 4px #CABDAC;
  line-height: 120px; }

.the-content {
  color: #4A4A4A; }

.contact-button, .contact-butto:hover,
.contact-butto:active,
.contact-butto:visited,
.contact-butto:focus {
  background-color: #DB2323;
  border-color: #DB2323;
  border-radius: 0px;
  color: #fff !important;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600 !important;
  font-size: 28px;
  height: 64px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-wrap; }

.about-author-heading, .contact-heading, .blog-heading {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600; }

.about-author-description, .book-purchase-link-heading {
  line-height: 32px; }

.about-author-quote {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -1.7px;
  font-style: italic; }

.book-purchase-link-heading a {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #DB2323; }

.book-title {
  font-size: 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  line-height: 90px; }

.book-purchase-links {
  line-height: 32px;
  color: #DB2323;
  font-weight: 700; }

.book-reviews-quote {
  color: #fff;
  font-style: italic;
  line-height: 36px;
  font-size: 28px;
  letter-spacing: -1.25px; }

.comment-heading {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #530000; }

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #4A4A4A;
  text-transform: uppercase; }

.comment-name {
  color: #DB2323; }

.book-reviews-source-name {
  font-size: 28px;
  color: #4A4A4A; }

.book-subscription-heading {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: #F6F4EF;
  line-height: 55px; }

.book-subscription-subheading {
  font-weight: 700; }

.book-subscription-display, book-subscription-display:hover,
.book-subscription-display:active,
.book-subscription-display:visited,
.book-subscription-display:focus {
  background-color: #DB2323;
  border-color: #DB2323;
  border-radius: 0px;
  color: #fff !important;
  font-family: "Karla", sans-serif;
  font-weight: 600 !important;
  font-size: 28px;
  height: 64px;
  line-height: 50px;
  white-space: pre-wrap; }

.book-title-sm {
  font-size: 80px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  line-height: 72px; }

.book-date {
  font-size: 60px;
  font-family: "Barlow Condensed", sans-serif;
  color: #E0B921;
  font-weight: 600;
  line-height: 58px; }

.about-author-description-text-bold {
  line-height: 32px;
  color: #DB2323;
  font-weight: 700; }

.home-header-bg, .page-header-bg, .blog-header-bg, .blog-single-header-bg {
  background-position: inherit;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1988px; }

.home-header-bg {
  background-image: url(img/home-bg.png); }

.page-header-bg {
  background-image: url(img/about-bg.png); }

.blog-header-bg {
  background-image: url(img/blog-bg.png); }

.blog-single-header-bg {
  background-image: url(img/blog-single.png); }

.blog-date {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  color: #AEB9AD;
  font-weight: 600; }

.blog-single-tags {
  font-weight: 700;
  color: #DB2323;
  line-height: 10px;
  border-bottom: 2px solid #DB2323; }

.blog-hashtags, .comment-date {
  font-weight: 700;
  color: #4A4A4A;
  font-size: 20px;
  letter-spacing: -0.89px;
  line-height: 26px; }

.blog-post-title {
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #DB2323;
  text-transform: none; }

.blog-post-date {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.blog-img-shadow {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5); }

.subscribe-bg {
  background-image: url(img/subscribe-bg.png);
  background-position: inherit;
  height: 458px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto; }

.pagination span a {
  font-size: 20px;
  font-family: "Karla", sans-serif; }

.input-group-append .btn {
  z-index: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4A4A4A; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4A4A4A; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4A4A4A; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4A4A4A; }

.c-bottom {
  position: absolute;
  bottom: 0; }

.form-control {
  height: 64px;
  border: 1px solid #979797;
  border-radius: 0rem;
  color: #4A4A4A;
  font-size: 28px; }

footer {
  color: #F6F4EF;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.89px;
  line-height: 26px;
  background-color: #4A4A4A; }

.pagination a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 48px; }

.pagination-next {
  font-size: 28px;
  font-weight: 700;
  font-family: "Karla", sans-serif; }

/* -- HAMBURGER -- */
.hamburger {
  z-index: 9999; }

#wrapper.toggled #sidebar-wrapper, .sidebar-nav {
  width: 280px; }

#sidebar-wrapper {
  background: #FBF7EA !important; }

.nav.sidebar-nav li a {
  font-size: 60px;
  color: #DB2323;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  line-height: 57px; }

@media (max-width: 767px) {
  .txt-ctr {
    text-align: center !important; }

  .pagination a {
    font-size: 28px; }

  #wrapper.toggled #sidebar-wrapper, .sidebar-nav {
    width: 220px; } }
@media (max-width: 575px) {
  .the-title {
    font-size: 95px;
    line-height: 85px; }

  .pl-5 {
    padding-left: 0.5rem !important; }

  .ml-5 {
    margin-left: 0.5rem !important; }

  .pr-5 {
    padding-right: 1rem !important; } }

/*# sourceMappingURL=main.css.map */
