/*---  FONTS  ---*/
$font-stack-1: 'Karla', sans-serif;
$font-stack-2: 'Barlow Condensed', sans-serif;

/*---  FONTS SIZE  ---*/
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 16px;
$font-size-display1: 120px;
$font-size-display2: 100px;
$font-size-display3: 80px;
$font-size-display4: 60px;


/*---  FONTS WEIGHT  ---*/
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


/*---  COLORS  ---*/
$clr-red: #DB2323;
$clr-yellow: #E0B921;
$clr-dirty-white: #F6F4EF;
$clr-white: #fff;
$clr-black: #4A4A4A;

/*---  TEXT-SHADOWS COLOR  ---*/
$clr-text-shadow: #CABDAC;


